.kanban-card {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.card-id {
  padding-right: 10px;
  color: darkgreen;
}

.card-title {
  font-size: 14px;
  margin-bottom: 5px;
}

.card-description {
  color: gray;
  font-size: 12px;
}

.card-tags {
  font-size: 12px;
  margin-top: 5px;
}

.card-tag {
  color: white;
  padding: 2px 5px;
  background: #004e8f;
  margin-right: 10px;
}

.card-content {
  flex: 1;
}

.menu-trigger {
  font-size: 20px;
}

.card-blocked {
  background: #ffc1c1;
}
