<div class="kanban-card">
  <div class="card-title">
    <span class="card-id">#{{card.cardId}}</span>
  </div>
  <div class="card-content">
    <div class="card-title">{{card.title}}</div>
    <div class="card-description">
      {{card.description}}
    </div>
    <div class="card-tags" *ngIf="card.tags">
      <span *ngFor="let tag of card.tags.split(',')"
            class="card-tag">{{tag}}</span>
    </div>
    <div class="card-progress">
      <span *ngFor="let item of [].constructor(10); let i = index"
            class="progress-item"></span>
    </div>
    <div class="card-checklist" *ngIf="expanded">
      <mat-checkbox color="primary">Check me!</mat-checkbox>
      <mat-checkbox color="primary">Check me!</mat-checkbox>
      <mat-checkbox color="primary">Check me!</mat-checkbox>
      <mat-checkbox color="primary">Check me!</mat-checkbox>
    </div>
    <div class="card-checklist-trigger">
      <button mat-button
              (click)="expandCheckList()"
              type="button">
        <span class="iconfont {{expanded ? 'iconarrow-up': 'iconarrow-down'}}"></span>
      </button>
    </div>
  </div>
  <div>
    <i [matMenuTriggerFor]="cardMenu" class="iconfont iconellipsis menu-trigger"></i>
    <mat-menu #cardMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="removeCard(card.cardId)">删除</button>
      <button mat-menu-item (click)="editCard(card)">编辑</button>
    </mat-menu>
  </div>
</div>
