<div class="">
  <button
    (click)="onExpand(true)"
    type="button"
    class="btn btn-sm btn-link">
    展开全部
  </button>
  <button
    (click)="onExpand(false)"
    type="button"
    class="btn btn-sm btn-link">
    折叠全部
  </button>
  <button
    (click)="onExpandSelected(true)"
    type="button"
    class="btn btn-sm btn-link">
    展开选中
  </button>
  <button
    (click)="onExpandSelected(false)"
    type="button"
    class="btn btn-sm btn-link">
    折叠选中
  </button>
</div>
<ul id="treeDemo" class="ztree"></ul>
