html, body {
  height: 100%;
}

.kanban-cells {
  background: lightblue;
  height: 100%;
}

.kanban-cell-container {
  background: #3f51b50d;
  width: 264px;
  padding: 10px 15px;
  margin-right: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}
