.cell-title {
  margin-bottom: 5px;
}

.cell-content {
  border-top: 2px solid gray;
  padding-top: 15px;
}

.card-total-count {
  float: right;
  color: darkgreen;
}

.add-button {
  color: darkgreen;
  margin-bottom: 10px;
}

.drop-area {
  min-height: 200px;
  border-radius: 5px;
  border: 1px dashed #dbdbdb;
  flex: 1;
}
